.nav-bar{
    position:sticky;
    top: 0;
    background-color: #1e1b22;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.list-style{
    display: flex;
    color: white;
    font-size: 20px;
    column-gap: 74px;
    margin-right: 50px;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color:#e68541 ;
}
.btn:hover,.btn1:hover{
    cursor: pointer;
    background-color: chocolate;   
}
.btn{
    height: 35px;
    width: 120%;
    font-size: 15px;
    border-radius: 30px;
    background-color: #e68541;
    color: white;
    border: none;
}
.logo-size{
    height: 71px;
    position: relative;
    left: 70px;
    top: 2px;
}
.bg-img{
    background-image: url("images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.text{
    color: white;  
    font-size: 30px;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    font-weight: 900px;
    padding-top: 300px;
}
.h3{
    font-size: 25px;
}
.h4{
    font-size: large;
}
.btn1{
    background-color: #e68541;
    border: none;
    border-radius: 30px;
    height: 35px;
    width: 10%;
    font-size: 15px;
    color: white;
}
#grid{
    background-color: #f6f1ee;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap:112px;
    width: 65%;
    padding-top: 58px;
    margin-left: 312px;
}
.gitem{
    background-color: #efefef;
    text-align: center;
    width: 135%;
    padding-top: 20px;
}
.ptag{
    color: #8496ae;
}
.hd-color{
    color: #2f2721;
}
.img-size{
    height: 458px;
    width: 90%;
}
#sec1,#sec2,#sec4,#footer{
    background-color:#f6f1ee ;
}
.h1-size{
    text-align: center;
    font-size: 40px;
    margin-top: 0%;
    padding-top: 77px;
}
.gcontainer1{
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    margin-left: 131px;
    margin-top: 77px;
}
.h3-style{
    color: #e68541;
    font-size: 30px;
    padding-top: 64px;
}
.ptag1{
    font-size: 18px;
    color: #8496ae
}
.btn2{
    background-color: #e68541;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    height: 36px;
    width: 18%;
    font-size: 16px;
}
#background-img-2{
    background-image: url("images/background3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.gcontainer2{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap:30px;
    width: 40%; 
    margin-left: 108px;
}
.title{
    color: white;
    font-weight: bold;
    position: relative;
    bottom: 111px;
    font-size: 20px;
}
.p-title{
    color: white;
    font-size: 20px;
    font-family: 'Rubiks',sans-serif;
    position: relative;
    bottom: 101px;
}
.index{
    color: #767676;
    font-weight: 700;
    font-size: 63px;
    font-family: 'Poppins',sans-serif;
}
.a2{
    position: relative;
    bottom: 111px;
    color: peachpuff;
    font-size: 20px;
    font-weight: bold;
}
.citem1{
    position: relative;
    bottom: 160px;
}
.side-text{
    color: white;
    font-size: 20px;
    position: relative;
    left: 800px;
    bottom: 800px;
    font-family: 'Poppins',sans-serif;
}
.btn3{
    background-color: peachpuff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    height: 36px;
    width: 7%;
    font-size: 16px;
}
.btn3:hover,.f-btn:hover{
    background-color: black;
}
.text-center{
    text-align: center;
}
.t-hd{
    margin-top: 0px;
    padding-top: 50px;
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
}
.t-p{
    color: #868686;
    font-size: 20px;
}
.gcontainer3{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 70%;
    margin-left: 214px;
}
.head{
    font-weight: bolder;
}
.ptag2{
    color: #868686;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
}
#sec3{
    background-image: url("images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
}
.b-hd{
    font-family: 'Poppins',sans-serif;
    margin-top: 0px;
    font-weight: 500;
    color: white;
    font-size: 40px;
}
.ptag3{
    font-family: 'Poppins',sans-serif;
    color: white;
    font-size: 20px;
}
.banner-img{
    margin-left: 347px;
    padding-top: 90px;
}
.blog-head{
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    margin-top: 0px;
    padding-top: 30px;
    text-align: center;
}
.gcontainer4{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap:40px ;
    margin-left: 118px;
    margin-right: 118px;
}
.blog-img{
    width: 80%;
    height: 221px;
    padding-top: 10px;
    padding-left: 10px;
}
.btn4{
    background-color: #e68541;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    height: 37px;
    width: 23%;
    font-size: 14px;
    position: relative;
    bottom: 192px;
    right: 96px;
}
.btn5{
    background-color: #e68541;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    height: 33px;
    width: 18%;
    font-size: 14px;
    position: relative;
    bottom: 184px;
    right: 93px;
}
.btn6{
    background-color: #e68541;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    height: 37px;
    width: 21%;
    font-size: 14px;
    position: relative;
    bottom: 189px;
    right: 104px;
}
.blog-hd{
    text-align: center;
    font-family: 'Poppins',sans-serif;
}
.blog-p{
    font-family: 'Poppins',sans-serif;
    color: #868686;
    font-size: 15px;
    text-align: center;
}
.blog-btn{
    background-color: #e68541;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    height: 33px;
    width: 24%;
    font-size: 14px;
    margin-bottom: 10px;
}
.b-item{
    background-color: #efefef;
    text-align: center;
}
#sec5{
    background-image: url("images/banner2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
}
.banner-tag{
    text-align: center;
}
.main-h{
    font-family: 'Poppins',sans-serif;
    color: white;
    font-size: 40px;
}
.main-p{
    margin-top: 0px;
    padding-top: 20px;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    color: white; 
}
.banner-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60%;
    grid-column-gap:20px ;
    margin-left: 297px;
}
.p1,.p2,.p3{
    font-family: 'Poppins',sans-serif;
    color: white;
    font-size: 17px;
}
.p2{
    font-weight: 900;
}
.footer-p{
    color:#868686 ;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    margin-top: 0px;
    padding-top: 90px;
}
.footer-h{
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
}
.headings{
    text-align: center;
}
.icons{
    display: flex;
    justify-content: center;
}
.f-img{
    height: 40px;
    padding: 24px;
}
.f-img:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.f-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 60px;
}
.f-item{
    text-align: center;
}
.f-img-size{
    height: 80px;
}
.i-style{
    border: none;
    border-bottom: 2px solid black;
    background-color:#f6f1ee ;
    width: 60%;
}
.f-ul{
    list-style-type: none;
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
}
.f1{
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
}
.f-btn{
    background-color: #e68541;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    height: 33px;
    width: 24%;
    font-size: 14px;
}
